*.a
*.bak
*.cache
*.desktop
*.gmo
*.mo
*.m4
*.o
*.swp
*.cmake
*~
.deps
.cproject
.project
.settings
Makefile
POTFILES
ID
TAGS
build
compile
tags
CMakeCache.txt
CMakeFiles
gtester.xml
report.html
test/test
install_manifest.txt
