@import url(chrome://global/skin/);

tabpanels {
    border: 0px;
    margin: 0px;
    padding: 1px;
}

tabpanel {
    border: 0px;
    margin: 0px;
}

.home-btn {
    list-style-image: url("chrome://chmsee/skin/go-home.png");
}

.back-btn {
    list-style-image: url("chrome://chmsee/skin/go-back.png");
}

.forward-btn {
    list-style-image: url("chrome://chmsee/skin/go-forward.png");
}

.previous-btn {
    list-style-image: url("chrome://chmsee/skin/go-previous.png");
}

.next-btn {
    list-style-image: url("chrome://chmsee/skin/go-next.png");
}

.zoomin-btn {
    list-style-image: url("chrome://chmsee/skin/zoom-in.png");
}

.zoomout-btn {
    list-style-image: url("chrome://chmsee/skin/zoom-out.png");
}

.zoomreset-btn {
    list-style-image: url("chrome://chmsee/skin/zoom-original.png");
}

.panel-btn {
    list-style-image: url("chrome://chmsee/skin/show-pane.png");
}
